<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>写真を保存するためのアクセス権限が必要です</string>
	<key>NSCameraUsageDescription</key>
	<string>写真を撮るためにカメラアクセスの許可が必要です</string>
</dict>
</plist>
